@import url("https://use.typekit.net/coa5bcp.css");
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 200, 'opsz' 48
}

* {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: inline-block;
}

.login {
    width: 100%;
    height: 100vh;
    padding-top: 0px;
    display: flex;
    margin-top: -80px;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login .login-content {
    margin: auto;
    width: 350px;
    position: absolute;
    top: 30px;
}

.login-in {
    background-color: #f6f8fa;
    border: 1px solid #d8dee4;
    border-radius: 7px;
    line-height: 2.5;
    padding: 20px 15px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-in h4 {
    font-size: 0.8em;
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: left;
}

.login-content input {
    padding: 5px 12px;
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--color-fg-default);
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #d8dee4;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    box-shadow: var(--color-primer-shadow-inset);
    transition: 80mscubic-bezier(0.33, 1, 0.68, 1);
    width: 100%;
    transition-property: color, background-color, box-shadow, border-color;
}

.login-content .sgin-in-btn {
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #2da44e;
    color: #ffffff;
    letter-spacing: 1px;
    border-color: #1b1f2426;
    padding: 10px;
}

.login img {
    width: 70px;
    margin-bottom: 40px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width:1024px) {
    body {
        font-size: 12px;
    }
    .login .login-content {
        width: 300px;
    }
    .login {
        width: 90%;
    }
    .login-content .creat-new {
        width: 300px;
    }
    .login-content input,
    .login-content .sgin-in-btn {
        width: 90%;
    }
    .login {
        padding: 30px 20px 30px 40px;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }
    .login-content {
        width: 280px;
    }
}

.login-content h2 {
    font-size: 1.2em;
    font-weight: 300;
    color: rgba(100, 99, 99, 0.856);
}

.login-in a {
    color: blue;
}

.login-in a:hover {
    text-decoration: underline;
}

.creat-new {
    width: 350px;
    padding: 20px 40px;
    border: 1px solid #d8dee4;
    display: flex;
    border-radius: 6px;
    margin-top: 20px;
}

.creat-new p {
    margin-right: 15px;
    font-size: 0.9em;
}

.creat-new a {
    color: blue;
    font-size: 0.9em;
}

.creat-new a:hover {
    text-decoration: underline;
}